In [3]:
# octal_converter.ipynb

# Cell 1 - Convert the octal number 2323 to base 10 (decimal) by looping

import numpy as np

def octal_to_decimal(o):
    # Reverse string 'o' because the
    # LSB must be in first position
    o = o[::-1]
    sum = 0
    # For every character in the string
    for position in range(len(o)):
        # Raising 2 to the power of the len value at that character
        weight = pow(8, position)
        # Converting that character to an integer
        digit = int(o[position])
        # Converting to base 10 and adding to the sum
        sum += digit * weight
    return sum


o = "2323"
d = octal_to_decimal(o)
print(f"{o} in octal = {d:,} in decimal")

2323 in octal = 1,235 in decimal

In [4]:
# Cell 2 - Convert the decimal number you calculated in cell 1 back to octal by looping

def decimal_to_octal(d):
    o = ""
    # Converting from base 10 to base 8
    while d > 0:
        # See slides for explanation
        # However, done this in a task before
        o += str(d % 8)
        d = int(d / 8)
    # Reverse string 'o' because the
    # LSB must be in first position
    o = o[::-1]
    return o


d = 1235
o = decimal_to_octal(d)
print(f"{d:,} in decimal = {o} in octal")

1,235 in decimal = 2323 in octal

In [5]:
# Cell 3 - Convert the octal number 2323 to base 10 (decimal) without looping

o = "2323"
d = int(b, 8)
print(f"{o} in octal = {d:,} in decimal")

2323 in octal = 1,235 in decimal

In [6]:
# Cell 4 - Convert the decimal number you calculated in cell 3 back to octal without looping

d = 1235
o = np.base_repr(d, base=8)
print(f"{d:,} in decimal = {o} in octal")

1,235 in decimal = 2323 in octal